<div class="ui hidden divider"></div>

<div class="ui bottom attached container">
  <div class="ui hidden divider"></div>
  <div class="ui active  tab " data-tab="principal">

    <div class="ui grid two columns">
      <div class="six wide column">
        <div class="ui form">
          <div class="inline fields">
            <label>Que tal lo hice en</label>

            <div class="field">
              <div class="ui selection dropdown">
                <select id="drp-mes">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Setiembre</option>
                  <option value="10">Octubre</option>
                  <option selected value="11">Noviembre</option>
                  <option disabled value="12">Diciembre</option>
                </select>
                <input type="hidden" name="Mes">
                <i class="dropdown icon"></i>
                <div class=" text">Noviembre</div>
                <div class="menu">
                  <div class="item" data-value="1">Enero</div>
                  <div class="item" data-value="2">Febrero</div>
                  <div class="item" data-value="3">Marzo</div>
                  <div class="item" data-value="4">Abril</div>
                  <div class="item" data-value="5">Mayo</div>
                  <div class="item" data-value="6">Junio</div>
                  <div class="item" data-value="7">Julio</div>
                  <div class="item" data-value="8">Agosto</div>
                  <div class="item" data-value="9">Setiembre</div>
                  <div class="item" data-value="10">Octubre</div>
                  <div class="item active " data-value="11">Noviembre</div>
                  <div class="item disabled" data-value="12">Diciembre</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="ui hidden divider"></div>
        <div class="ui divided items">
          <div class="item">
            <div class="middle aligned content" id="mensual-highlight">

            </div>
          </div>
          <div class="item">
            <div class="middle aligned content" id="anual-highlight">

            </div>
          </div>
          <div class="item">
            <div class="middle aligned content" id="social-highlight">

            </div>
          </div>
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui raised segment">
          <h4 class="ui header">Ahorrar nunca fue tan facil..</h4>
          <div class="ui divided items">
            <div class="item">
              <div class="ui tiny image">
                <img src="/gif/depositos-pluviales001-grande.jpg">
              </div>
              <div class="middle aligned content" id="content-suggestion">

              </div>
            </div>
            <a class="ui blue button right floated">Ver mas..</a>
            <div class="ui hidden divider"></div>

          </div>
        </div>
      </div>
      <div class="ten wide column">
        <div class="field">
          <div class="ui header">
            <i class="red bar chart icon"></i>
            <div class="content">
              En los ultimos 12 meses
              <div class="sub header"><small>Tu vs El mas ahorrador de tu vecindario</small></div>
            </div>
          </div>
        </div>
        <div class="ui hidden divider "></div>


        <div class=" chart-container" style="position: relative; height:25vh; width:40vw">
          <canvas id="myChart"></canvas>
        </div>

      </div>

    </div>





  </div>
  <div class="ui tab " data-tab="reto">

  </div>

  <!-- <div class="ui active tab " data&#45;tab="principal"> -->
  <!--   <div class="ui grid two columns"> -->
  <!--     <div class="six wide column"> -->
  <!--       <div class="ui form"> -->
  <!--         <div class="inline fields"> -->
  <!--           <label>Revisar consumo de: </label> -->
  <!--           <div class="field"> -->
  <!--             <div class="ui selection dropdown"> -->
  <!--               <input type="hidden" name="Mes"> -->
  <!--               <i class="dropdown icon"></i> -->
  <!--               <div class="text">Noviembre</div> -->
  <!--               <div class="menu"> -->
  <!--                 <div class="item" data&#45;value="1">Enero</div> -->
  <!--                 <div class="item" data&#45;value="2">Febrero</div> -->
  <!--                 <div class="item" data&#45;value="3">Marzo</div> -->
  <!--                 <div class="item" data&#45;value="4">Abril</div> -->
  <!--                 <div class="item" data&#45;value="5">Mayo</div> -->
  <!--                 <div class="item" data&#45;value="6">Junio</div> -->
  <!--                 <div class="item" data&#45;value="7">Julio</div> -->
  <!--                 <div class="item" data&#45;value="8">Agosto</div> -->
  <!--                 <div class="item" data&#45;value="9">Setiembre</div> -->
  <!--                 <div class="item" data&#45;value="10">Octubre</div> -->
  <!--                 <div class="item active" data&#45;value="11">Noviembre</div> -->
  <!--               </div> -->
  <!--             </div> -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--  -->
  <!--       <div class="ui hidden divider"></div> -->
  <!--  -->
  <!--       <div class="ui divided items"> -->
  <!--         <div class="item"> -->
  <!--           <div class="middle aligned content"> -->
  <!--             <i class="idea icon"></i> Gastaste 5% más que el mes pasado. -->
  <!--           </div> -->
  <!--         </div> -->
  <!--         <div class="item"> -->
  <!--           <div class="middle aligned content"> -->
  <!--             <i class="theme icon"></i>Usaste menos agua que el promedio anual. -->
  <!--           </div> -->
  <!--         </div> -->
  <!--         <div class="item"> -->
  <!--           <div class="middle aligned content"> -->
  <!--             <i class="meh icon"></i> Pagaste 13 soles más que tus vecinos. -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--  -->
  <!--       <div class="ui hidden divider"></div> -->
  <!--  -->
  <!--       <div class="ui raised segment"> -->
  <!--         <h4 class="ui header">Ahorrar nunca fue tan facil..</h4> -->
  <!--         <div class="ui divided items"> -->
  <!--           <div class="item"> -->
  <!--             <div class="content"> -->
  <!--               Apaga las luces cuando no las necesites. -->
  <!--             </div> -->
  <!--           </div> -->
  <!--           <a class="ui blue button right floated">Ver mas..</a> -->
  <!--           <div class="ui hidden divider"></div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <div class="ten wide column"> -->
  <!--       <div class="field"> -->
  <!--         <div class="ui header"> -->
  <!--           <i class="blue bar chart icon"></i> -->
  <!--           <div class="content"> -->
  <!--             Tus ultimos 12 meses -->
  <!--             <div class="sub header"><small>Tu vs el mas ahorrador de tu vecindario</small></div> -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--  -->
  <!--       <div class="ui hidden divider "></div> -->
  <!--  -->
  <!--       <div class=" chart&#45;container" style="position: relative; height:25vh; width:40vw"> -->
  <!--         <canvas id="myChart"></canvas> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
<section class="ui container " style="overflow-y:scroll; overflow-x:hidden;"></section>
<footer></footer>

