<div class="ui hidden divider"></div>
<div class="ui grid">
  <div class="ten wide column">
    <h1 class="ui huge centered header">Desafios Agua</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor scelerisque scelerisque. Donec risus mauris, ultrices a tristique tincidunt, aliquam in massa. Vestibulum nisi leo, venenatis sed risus ut, egestas dignissim lorem. Nunc faucibus lectus quis lacus finibus aliquam. Phasellus vulputate velit at justo finibus, eget elementum libero lobortis. Mauris eu ligula a augue sollicitudin consequat sit amet eget enim.
    </p>
  </div>
  <div class="six wide column">
    <div class="ui segment">
      <div class="ui center aligned large header">Empieza el Desafio</div>
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
