<div class="ui vertical segment">
    <div class="ui centered grid">
      <div class="eight wide column">
        <h1 class="ui header">Desafios Agua</h1>
        <h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>
      </div>
      <div class="five wide column">
        <div class="ui segment">
          <div class="ui center aligned large header">Empieza el Desafio</div>
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
</div>
